/*General Styles*/
reseacrh.css
body{
    font-family: 'Courier New', Courier, monospace;
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: aqua;
    color: aquamarine;
}
header{
    background-color: rgb(213, 222, 135);
    color: beige;
    padding: 1rem 0;
    text-align: center;
}
header h1{
    margin: 0;
}
nav ui{
    list-style: lower-alpha;
    padding: 0cm
} 
nav{
    text-overflow: clip;
    display: flex;
    padding: 2% 6%;
    text-align: center;
    text-transform: 0.5s;
}
nav ul li a{
    color: rgba(0, 26, 255, 0.419);
    text-decoration: line-through;
    align-items: center;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
nav ul li{
    display: flex;
    margin: 2 8px;
    align-items: center;
}
main{
    padding: 15px;
    margin: 2px;
    background-color: bisque;
    max-width: fit-content;
    border-radius: 7px;
    box-shadow: rgb(176, 214, 230);
}
.navBar{
    display: flex;
    transform: 0.5;
}

.navigationContent{
    display: flex;
    text-align: center;
    gap: 20px
}
section{
    margin-top: 40px;
    margin-bottom: 35px;
}
h2{
    padding-bottom: 6px;
    text-decoration: underline;
    margin-bottom: 25px;
    border-bottom: 3px rgb(112, 126, 144);
    color: rgb(152, 164, 251);
}
/*Table Styles*/
table{
    width: 98%;
    margin-bottom: 30px;
    border-collapse: collapse;
}
table th, table td{
    padding: 15px;
    text-align: center;
    border: 2px solid;
}
table th{
    color: crimson;
    font-weight: bolder;
    font-style: italic;
    background-color: rgba(47, 77, 79, 0.782);
}

/*Article Styles*/
article{
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid yellow;
    border-radius: 6px;
    background-color: darkolivegreen;
}
article h3{
    margin-top: 1;
    text-decoration: underline;
    color: beige;
}
/*Footer Styles*/
footer{
    padding: 2rem 1;
    color: rgb(255, 0, 25);
    background-color: lab(from color l a b);
    text-align: right;
    margin-top: 25px;
}
footer a{
    text-decoration: underline;
    color: none;
}
footer a:hover{
    text-decoration: none;
}